/*  ========     Form Admin - Cadastro OA    ========
===================================================== */

.item-menu-form{
    background-color: #b7b7b8;
    border: 0.1em solid white;
    padding-bottom: 10px;
}

.item{
    color: white;
    font-family: 'Bree Serif';
    font-weight: normal;
    font-size: 1em;
}

.form-block{
    border: 1px solid #999999;
    margin: 0px 2em 0px 2em;
    background-color: white;
}

.text-form {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 1.1em;
    border: 0px;
    border-bottom: 0.1em solid #999999;
    width: 100%;
}

.select-form{
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 1.1em;
    border: 0.1em solid #999999;
    width: 100%;
}

.campos-block{
    margin: 2em 2em 2em 2em;
}

.body{
    box-shadow: 4px 6px 15px 0px rgba(97,97,97,1);
    
}


/** CONFIGURAÇÃO CSS MENU ÁREA PESSOAL DO USUARIO **/
.active-menu {
    background-color: rgb(68, 72, 94);
}


.menu-item:hover{
    background-color: rgb(68, 72, 94);
}



.btn-purple{
    background-color: #59617F;
    color: white;
    height: 2.5em;
}

.btn-purple:hover{
    color: white;
    background-color:  #555B7A;
}